

._section-manage-user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.table{
    width: 80%;
}



.alert{
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    margin-left: 150px;
    text-align: center;
}
